/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

/* SIDEBAR (MENU LATERAL) */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;

    width: 240px;
    height: 100vh;

    background-color: #000;
    padding: 20px;

    display: flex;
    flex-direction: column;
    z-index: 20;
}

/* LOGO */
.logo img {
    width: 130px;
    margin-bottom: 30px;
}

/* MENU */
.menu button {
    width: 100%;
    background: none;
    border: none;

    color: #b3b3b3;
    font-size: 14px;

    display: flex;
    align-items: center;
    gap: 15px;

    height: 40px;
    cursor: pointer;
}

.menu button:hover {
    color: #fff;
}

/* ÍCONES */
.menu button img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    filter: brightness(0) invert(1);
}

/* PLAYLIST */
.menu-playlist {
    margin-top: 20px;
}

/* RODAPÉ DO MENU */
.menu-footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-footer a {
    color: #b3b3b3;
    font-size: 11px;
    text-decoration: none;
}

.menu-footer a:hover {
    text-decoration: underline;
}

/*   HEADER SUPERIOR */

.top-header {
    position: fixed;
    top: 0;
    left: 240px;
    right: 0;

    height: 64px;
    padding: 0 32px;

    background-color: #121212;

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 15;
}

/* SETAS */
.header-left {
    display: flex;
    gap: 10px;
}

.nav-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;

    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/* BOTÕES DIREITA */
.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.signup {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 14px;
}

.signup:hover {
    color: #fff;
}

.login {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
}

.login:hover {
    transform: scale(1.05);
}

/* ÁREA PRINCIPAL */

.main-wrapper {
    margin-left: 240px;
    padding-top: 64px;

    min-height: 100vh;
    background: linear-gradient(to bottom, #1f1f1f, #121212);
}

/* CONTEÚDO */
.content {
    padding: 24px 32px 120px;
}

.playlist-section {
    margin-bottom: 40px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 0 15px;
}

.section-header h2 {
    font-size: 22px;
}

.section-header a {
    font-size: 12px;
    color: #b3b3b3;
    text-decoration: none;
}

.section-header a:hover {
    text-decoration: underline;
}

/* CARDS */

.cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
    padding: 0 15px;
}

.card {
    background-color: #181818;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card:hover {
    background-color: #282828;
}

.card img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 12px;
}

.card h3 {
    font-size: 14px;
    margin-bottom: 6px;
}

.card p {
    font-size: 12px;
    color: #b3b3b3;
    line-height: 1.4;
}

/* FOOTER FIXO*/

.spotify-footer {
    position: fixed;
    bottom: 0;
    left: 5px;
    right: 0;

    height: 42px;
    background: linear-gradient(90deg, #af2896, #509bf5);
    z-index: 30;
}

.footer-content {
    height: 100%;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-text strong {
    font-size: 12px;
    letter-spacing: 1px;
}

.footer-text p {
    font-size: 14px;
    margin-top: 4px;
}

.footer-button {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    font-size: 10px;

    padding: 12px 24px;
    border-radius: 999px;
    text-decoration: none;

    transition: transform 0.2s ease;
}

.footer-button:hover {
    transform: scale(1.05);
}
